.homePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  // gap: var(--gap);
  padding-bottom: 4rem;
  background-color: var(--bg);
  position: relative;

  .heroSection {
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // gap: 3rem;
    // padding: 4rem 0;
    position: relative;
    // min-height: 100vh;
    height: 40rem;
    z-index: 0;

    video {
      // position: absolute;
      top: -2rem;
      // left: 0;
      // width: 100%;
      height: calc(100% + 2rem);
      // object-fit: cover;
      z-index: -1;
      position: absolute;
      // height: 100%;
      width: 100%;
      object-fit: cover;
      // bottom: 0;
      left: 0;
    }

    .videoOverlay {
      position: absolute;
      top: -2rem;
      left: 0;
      width: 100%;
      height: calc(100% + 2rem);
      background: rgb(12, 15, 10);
      background: -moz-linear-gradient(
        180deg,
        rgba(12, 15, 10, 0.5970982142857143) 18%,
        rgba(12, 15, 10, 0.7035407913165266) 85%
      );
      background: -webkit-linear-gradient(
        180deg,
        rgba(12, 15, 10, 0.5970982142857143) 18%,
        rgba(12, 15, 10, 0.7035407913165266) 85%
      );
      background: linear-gradient(
        180deg,
        rgba(12, 15, 10, 0.5970982142857143) 18%,
        rgba(12, 15, 10, 0.7035407913165266) 85%
      );
      z-index: 1;
    }

    .heroContent {
      position: fixed;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 6;
      gap: 3rem;

      .heroImage {
        display: flex;
        justify-content: center;
        height: 14rem;
        // z-index: 1;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      p {
        width: 60%;
        text-align: center;
        font-weight: 400;
        color: var(--primary);
        font-size: 1.15rem;
        // z-index: 1;
      }

      .contact {
        display: flex;
        // flex-direction: column;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
        // z-index: 600;

        a {
          // z-index: inherit;
          width: 15rem;
          position: relative;
          padding: 0.75rem 1rem 0.75rem 1.5rem;
          height: 3rem;
          color: var(--primary);
          font-weight: 600;
          border-radius: 2rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: rgb(255, 98, 17);
          background: -moz-linear-gradient(
            330deg,
            rgba(255, 98, 17, 1) 33%,
            rgba(255, 164, 41, 1) 100%
          );
          background: -webkit-linear-gradient(
            330deg,
            rgba(255, 98, 17, 1) 33%,
            rgba(255, 164, 41, 1) 100%
          );
          background: linear-gradient(
            330deg,
            rgba(255, 98, 17, 1) 33%,
            rgba(255, 164, 41, 1) 100%
          );

          span {
            transition: all 300ms ease;
            transition-delay: 150ms;
          }

          .icon {
            // background-color: var(--primary);
            height: 2rem;
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-left: 1rem;
            z-index: 2;

            svg {
              font-size: 1.25rem;
              color: var(--secondary);
            }
          }

          .buttonAnimation {
            position: absolute;
            right: 1rem;
            height: 2rem;
            width: 2rem;
            background-color: var(--primary);
            border-radius: 2rem;
            // overflow: hidden;
            transition: width 300ms ease-out;
          }

          &:hover {
            span {
              margin-left: 0.5rem;

              color: var(--secondary);
              z-index: 5;
            }

            .buttonAnimation {
              width: calc(100% - 2rem);
            }
          }
        }
      }
    }
  }

  .servicesSection {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap);
    position: relative;
    // z-index: 3;
    background-color: var(--bg);
    padding: 6rem 0 4rem;

    .service {
      width: 20rem;
      height: 15rem;
      background-color: var(--bg-light);
      border-radius: var(--radius);
      position: relative;
      overflow: hidden;

      .serviceImage {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        img {
          transition: all 300ms ease;
          height: 100%;
          width: auto;
        }

        .overlay {
          transition: all 300ms ease;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

      .serviceTitle {
        position: absolute;
        z-index: 10;
        color: var(--primary);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.75rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: fit-content;
        display: flex;
        align-items: center;

        svg {
          font-size: 1.75rem;
          margin-left: 0.5rem;
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 0.075em;
          bottom: -2px;
          left: 0;
          background-color: var(--secondary);
          transform-origin: bottom right;
          transition: transform 300ms ease-out;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

      &:hover {
        .serviceImage {
          img {
            transform: scale(1.05);
          }
          .overlay {
            background-color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }

  .aboutUsSection {
    // height: 30rem;
    display: flex;
    padding: 2rem 5% 6rem;
    z-index: 5;
    background-color: var(--bg);

    .title {
      width: 50%;

      h1 {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: var(--color-gray);
      }
    }
    .text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 1rem;

      p {
        font-size: 1.15rem;
        line-height: 1.6;
      }
    }
  }

  .featuredProducts {
    width: 100%;
    padding: 2rem 5% 6rem;
    display: flex;
    flex-direction: column;
    z-index: 5;
    background-color: var(--bg);

    h1 {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 2.5rem;
      color: var(--color-gray);
    }
  }

  .featuredArticles {
    padding: 2rem 5% 6rem;
    display: flex;
    flex-direction: column;
    z-index: 5;
    background-color: var(--bg);

    .articlesTitle {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 2.5rem;
      color: var(--color-gray);
      margin-bottom: 2rem;
    }
  }

  .slogan {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;

    h1 {
      font-weight: 300;
      width: 60%;
      text-align: center;
    }
  }

  .paymentMethodsSection {
    display: flex;
    // grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 0 5%;
    gap: 2rem;
    border-radius: 3px;
    height: fit-content;

    .gridItem {
      width: 20rem;
      height: 12rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 2rem;
      gap: 1rem;
      background-color: var(--bg-light);

      svg {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .homePage {
    .heroSection {
      .heroContent {
        p {
          width: 80%;
        }
      }
    }

    .slogan {
      h1 {
        width: 80%;
      }
    }

    .aboutUsSection {
      flex-direction: column;
      gap: 2rem;

      .title {
        width: 100%;
      }

      .text {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .homePage {
    .heroSection {
      height: 45rem;
      video {
        object-position: 40%;
      }

      .heroContent {
        top: 50%;
        p {
          width: 95%;
        }

        .heroImage {
          width: 90%;
        }
      }
    }

    .slogan {
      padding: 2rem 0;
      h1 {
        width: 90%;
        font-size: 1.75rem;
      }
    }

    .aboutUsSection {
      .title {
        h1 {
          font-size: 1.75rem;
        }
      }

      .text {
        p {
          font-size: 1rem;
        }
      }
    }

    .featuredProducts {
      padding: 0 5%;

      h1 {
        font-size: 1.75rem;
      }
    }

    .featuredArticles {
      .articlesTitle {
        font-size: 1.75rem;
      }
    }
  }
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
