.productCard {
  height: 20rem;
  width: 17rem;
  // aspect-ratio: 1/1;
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 1rem;
  border-radius: 3px;
  
  .productImage {
    position: relative;
    flex: 3;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    
    img {
      transition: transform 300ms ease;
      transform: scale(1);
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }

  .productInfo {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    p {
      text-transform: uppercase;
      font-size: 0.75rem;
      color: var(--color-gray);
      align-self: flex-start;
      font-weight: 300;
    }

    h2 {
      font-size: 1.15rem;
      align-self: flex-start;
      font-weight: 300;
      text-align: start;
    }
    h3 {
      font-size: 1rem;
      align-self: flex-end;
      font-weight: 400;
    }
  }

  &:hover {
    .productImage {
      img {
        transform: scale(1.05);
      }
    }
  }
}
