.contactPage {
  width: 100%;
  display: flex;
  padding: 4rem 5%;

  .contactContainer {
    flex: 1;
    display: flex;
    flex-direction: column;

    form {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .input {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;

        label {
          font-size: 0.9rem;
          letter-spacing: 0.05em;
          color: var(--color-gray);
        }

        input,
        textarea {
          border: 0.05em solid var(--color-white-300);
          background-color: var(--bg-light);
          padding: 0.5rem;
          color: var(--primary);
          font-size: 1rem;
          font-family: inherit;
          border-radius: var(--radius);
          resize: none;
        }
      }

      .button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;

        button {
          width: fit-content;
          padding: 0.75rem 2rem;
          text-transform: uppercase;
          background-color: var(--secondary);
          color: var(--primary);
          cursor: pointer;
          border-radius: var(--radius);
          font-weight: 600;
        }
      }
    }

    h2 {
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 1rem;
      // color: var(--color-gray);
    }

    .row {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 0.75rem;

      p {
        margin-bottom: 0.25rem;
      }

      h3 {
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 0.25rem;
        color: var(--secondary);
      }

      a {
        width: fit-content;
      }

      .addressButton {
        background-color: var(--bg-light);
        padding: 0.25rem 1.5rem;
        border: 0.1em solid var(--color-white-300);
        border-radius: var(--radius);
        margin-top: 1rem;
      }
    }
  }
}

.formPage {
  padding: 4rem 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20rem;
    position: relative;
    border-radius: var(--radius);
    overflow: hidden;

    h1 {
      z-index: 10;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      color: var(--primary);
      margin-bottom: 1rem;
    }

    .pageDescription {
      z-index: 10;
      width: 60%;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 300;
    }

    .image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      img {
        height: 100%;
        width: auto;
        object-fit: cover;
      }

      .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .onlineProcjena {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h2 {
      font-weight: 400;
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 300;
    }

    .bubble {
      display: flex;
      // flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;
      background-color: var(--bg-light);
      padding: 2rem;
      width: 30rem;
      border-radius: var(--radius);

      h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--secondary);
        height: 3.75rem;
        width: 3.75rem;
        border: 0.05em solid var(--color-white-300);
        border-radius: 50%;
      }

      p {
        text-align: center;
        width: 80%;
      }
    }
    // .contactButtons {
    //   width: 28rem;
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-around;

    //   a{
    //     display: flex;
    //     align-items: center;

    //     svg {
    //       margin-right: 0.5rem;
    //     }
    //   }
    // }
    .contact {
      display: flex;
      // flex-direction: column;
      gap: 1.5rem;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;

      a {
        width: 13rem;
        position: relative;
        padding: 0.75rem 1rem 0.75rem 1.5rem;
        height: 3rem;
        color: var(--primary);
        font-weight: 600;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgb(255, 98, 17);
        background: -moz-linear-gradient(
          330deg,
          rgba(255, 98, 17, 1) 33%,
          rgba(255, 164, 41, 1) 100%
        );
        background: -webkit-linear-gradient(
          330deg,
          rgba(255, 98, 17, 1) 33%,
          rgba(255, 164, 41, 1) 100%
        );
        background: linear-gradient(
          330deg,
          rgba(255, 98, 17, 1) 33%,
          rgba(255, 164, 41, 1) 100%
        );

        span {
          transition: all 300ms ease;
          transition-delay: 150ms;
        }

        .icon {
          // background-color: var(--primary);
          height: 2rem;
          width: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin-left: 1rem;
          z-index: 2;

          svg {
            font-size: 1.25rem;
            color: var(--secondary);
          }
        }

        .buttonAnimation {
          position: absolute;
          right: 1rem;
          height: 2rem;
          width: 2rem;
          background-color: var(--primary);
          border-radius: 2rem;
          // overflow: hidden;
          transition: width 300ms ease-out;
        }

        &:hover {
          span {
            margin-left: 0.5rem;

            color: var(--secondary);
            z-index: 5;
          }

          .buttonAnimation {
            width: calc(100% - 2rem);
          }
        }
      }
    }
  }

  .faq {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    h2 {
      font-weight: 300;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 750px){
.contactPage{
  padding: 2rem 5% 4rem;
  flex-direction: column;
  gap: 2rem;

  .contactContainer{
    form {
      width: 100%;
    }
  }
}
}

@media screen and (max-width: 600px) {
  .formPage {
    gap: 2rem;
    padding: 2rem 5% 4rem;

    .header {
      .pageDescription {
        width: 80%;
      }
    }

    .onlineProcjena{
      .bubble{
        width: 100%;

        p{
         width: 70%;
        }
      }
    }

    .faq {
      width: 100%;
    }
  }
}
